<h1>Text</h1>
<div class="flex flex-col gap-2 w-full">
  <label for="username">Username</label>
  <input pInputText id="username"
         class="radius-sm"
         aria-describedby="username-help"
         [(ngModel)]="value" />
  <small id="username-help">Enter your username to reset your password.</small>
</div>
<h1>Number</h1>
<p-inputnumber [(ngModel)]="value3" [showButtons]="true"
               buttonLayout="horizontal"
               inputId="horizontal"
               spinnerMode="horizontal"
               [step]="0.25" mode="currency" currency="EUR">
  <ng-template #incrementbuttonicon>
    <span class="pi pi-plus"></span>
  </ng-template>
  <ng-template #decrementbuttonicon>
    <span class="pi pi-minus"></span>
  </ng-template>
</p-inputnumber>

<p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="Select a country" class="w-full md:w-56">
  <ng-template #selectedItem let-selectedOption>
    <div class="flex items-center gap-2" *ngIf="selectedOption">
      <img
        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
        [class]="'flag flag-' + selectedOption.code.toLowerCase()"
        style="width: 18px"
      />
      <div>{{ selectedOption.name }}</div>
    </div>
  </ng-template>
  <ng-template let-country #item>
    <div class="flex items-center gap-2">
      <img
        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
        [class]="'flag flag-' + country.code.toLowerCase()"
        style="width: 18px"
      />
      <div>{{ country.name }}</div>
    </div>
  </ng-template>
  <ng-template #dropdownicon>
    <i class="pi pi-map"></i>
  </ng-template>
  <ng-template #header>
    <div class="font-medium p-3">Available Countries</div>
  </ng-template>
  <ng-template #footer>
    <div class="p-3">
      <p-button label="Add New" fluid severity="secondary" text size="small" icon="pi pi-plus" />
    </div>
  </ng-template>
</p-select>



<div class="card flex justify-center p-3">
  <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()"/>
</div>

